@page "/"
@using formica.Pages.Questions

<PageTitle>Form ica</PageTitle>

@if (_initialLoading)
{
    <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
else if (!_file.Exists)
{
    <h1 class="mb-5">Let's see if the we're a good fit!</h1>
    <div class="text-center">
        <button type="button" class="btn btn-warning" @onclick=Start>Start <i class="bi bi-magic"></i></button>
    </div>
}
else
{
    <CascadingValue Value=@_data>
    <WhoAreYou OnChange=StateHasChanged />
</CascadingValue>
}
