@page "/"
@using formica.Pages.Questions

<PageTitle>formica</PageTitle>

@if (_initialLoading)
{
    <div class="mt-5 text-center">
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}
else if (!_file.Exists)
{
    <h1 class="mb-5">Let's see if the we're a good fit!</h1>
    <div class="text-center">
        <button type="button" class="btn btn-warning" @onclick=Start>Start <i class="bi bi-magic"></i></button>
    </div>
}
else
{
    <CascadingValue Value=@_data>
    @switch (_data.Step)
    {
        case Steps.WhoAreYou:
            <WhoAreYou OnChange=Update />
            break;
        case Steps.LookingFor:
            <LookingFor OnChange=Update />
            break;
        case Steps.SelectionProcess:
            <SelectionProcess OnChange=Update />
            break;
        case Steps.Compensation:
            <Compensation OnChange=Update />
            break;
        case Steps.Sending:
            <div class="mt-5 text-center">
                <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Sending...</span>
                </div>
            </div>
            break;
        case Steps.ThankYou:
            <h1 class="mb-5">Thank you!</h1>
            break;
        default:
            break;
    }
</CascadingValue>
}

@if (System.Diagnostics.Debugger.IsAttached)
{
    <button type=button class="btn btn-danger mt-5" @onclick=StateHasChanged>Refresh</button>
    <pre style="white-space: pre-line;">
        @_data.GetText()
    </pre>
}
